<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"> <!--Enables thymeleaf-->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"> <!--get bootstrap/css-->
<link rel="stylesheet" th:href="@{/css/main.css}"> <!--get main.css-->
<script th:src="@{/js/bootstrap.min.js}" ></script> <!--bootstrap and javascript-->
<head>
    <meta charset="UTF-8">
    <title>MyTunes</title>  <!--Title of the page-->
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><img style="width: 35px" th:src="@{/img/maren.jpg}" alt=""></a>  <!--The logo/image is set to home-->
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container inner-padded">
    <div class="row justify-content-center align-items-center" style="padding-bottom: 2em;">
        <h1 class="display-3">MyTunes</h1>
</div>
    <div class="input-group mb-3 justify-content-center">
        <form action="/search" class="form-inline"> <!--Query string from form is added to uri, since form does not have an object to bind to -->
            <div class="form-group"><!--Search bar -->
                <input type="text" class="form-control" name="songName" placeholder="Search..." required>
                <input type="submit" value="Search" class="btn btn-primary"> <!--Search button-->
            </div>
        </form>
    </div>
</div>

<div class="row  m-1 text-center">
    <table class="col-md-4"> <!-- Table for the list of information -->
        <thead>
        <tr> <!-- Table row -->
            <th>5 Random Artists</th> <!-- Table head for random artists -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="artist: ${artists}"> <!--Recall the model artist, list the artists-->
            <td th:text="${artist.getArtistName()}"></td> <!-- writes the names -->
        </tr>
        </tbody>
    </table>
    <table class="col-md-4">
        <thead>
        <tr>
            <th>5 Random Tracks</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="song: ${songs}"> <!--Recall the model song, list the song-->
            <td th:text="${song.getSongName()}"></td>
        </tr>
        </tbody>
    </table>
    <table class="col-md-4">
        <thead>
        <tr>
            <th>5 Random Genres</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="genre: ${genres}"> <!--Recall the model genre, list the genres-->
            <td th:text="${genre.getGenreName()}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>