<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  <!-- xml namespace for thymeleaf tags -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"> <!-- adding bootstrap stylesheet -->
<link rel="stylesheet" th:href="@{/css/main.css}"> <!-- adding css stylesheet -->
<script th:src="@{/js/bootstrap.min.js}" ></script> <!-- adding bootstrap javascript -->
<head>
    <meta charset="UTF-8">
    <title>MyTunes</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><img style="width: 35px" th:src="@{/img/maren.jpg}" alt=""></a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<!-- Heading -->
<div class="container inner-padded">
    <div class="row justify-content-center align-items-center" style="padding-bottom: 2em;">
        <h1 class="display-3">MyTunes</h1>
    </div>
</div>

<!-- Tables with search results -->
<!-- First column showing track names -->
<div class="row m-1 text-center"> <!-- rows with margin 1, text center aligned -->
    <table class="col-md-3"> <!-- Since we have four columns, we take bootstraps 12 columns from grid system and divide by 4, each column gets 3 columns as width -->
        <thead>
        <tr>
            <th>Track</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="searchTrack: ${searchTracks}"> <!-- One row for each searchTrack in searchTracks array -->
            <td th:text="${searchTrack.getSongName()}"></td> <!-- Add track names -->
        </tr>
        </tbody>
    </table>

    <!-- Second column showing artist names -->
    <table class="col-md-3"> <!-- Each column gets 3 columns as width -->
        <thead>
        <tr>
            <th>Artist</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="searchTrack: ${searchTracks}"> <!-- One row for each searchTrack in searchTracks array -->
            <td th:text="${searchTrack.getArtistName()}"></td> <!-- Add artist names -->
        </tr>
        </tbody>
    </table>
    <!-- Third column showing album names -->
    <table class="col-md-3"> <!-- Each column gets 3 columns as width -->
        <thead>
        <tr>
            <th>Album</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="searchTrack: ${searchTracks}">  <!-- One row for each searchTrack in searchTracks array -->
            <td th:text="${searchTrack.getAlbumName()}"></td> <!-- Add album names -->
        </tr>
        </tbody>
    </table>
    <!-- Fourth column showing genre names -->
    <table class="col-md-3"> <!-- Each column gets 3 columns as width -->
        <thead>
        <tr>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="searchTrack: ${searchTracks}"> <!-- One row for each searchTrack in searchTracks array -->
            <td th:text="${searchTrack.getGenreName()}"></td> <!-- Add genre names -->
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>